@{
    ViewBag.Title = "Index";
}
<h2>Aliens</h2>
<form method="post" action="@Url.Action("SearchAliens", "Home")">
    <label>
        Name:
        <input type="text" name="name" value="" placeholder="Customer Name" />
    </label>
    <input type="submit" value="Search" />
</form>
<table>
    <tr>
        @foreach (var dataColumn in ViewBag.AlienTable.Columns)
        {
            <th>@dataColumn.ColumnName</th>
        }
    </tr>
    @foreach (var alienRow in ViewBag.AlienTable.Rows)
    {
        <tr>
            @for (int i = 0; i < ViewBag.AlienTable.Columns.Count; ++i)
            {
                <td>@alienRow[i]</td>
            }
        </tr>
    }
</table>
<hr />
<table>
    <tr>
        @foreach (var dataColumn in ViewBag.DemographyTable.Columns)
        {
            <th>@dataColumn.ColumnName</th>
        }
    </tr>
    @foreach (var demographyRow in ViewBag.DemographyTable.Rows)
    {
        <tr>
            @for (int i = 0; i < ViewBag.DemographyTable.Columns.Count; ++i)
            {
                <td>@demographyRow[i]</td>
            }
        </tr>
    }
</table>
<hr />
<form method="post" action="">
    <label>
        Customer:
        <select name="race">
            @foreach (var row in ViewBag.RaceTable.Rows)
            {
                <option value="@row["namn"]">@row["namn"]</option>
            }
        </select>
    </label>
    <input type="submit" value="Hemligstämpla Ras" />
</form>